[submodule "plugins/ModernZ"]
	path = plugins/ModernZ
	url = https://github.com/Samillion/ModernZ.git
[submodule "plugins/perpetual-playlist"]
	path = plugins/perpetual-playlist
	url = https://github.com/edieguez/perpetual-playlist.git
[submodule "plugins/playlist-manager"]
	path = plugins/playlist-manager
	url = https://github.com/edieguez/playlist-manager.git
[submodule "plugins/yas"]
	path = plugins/yas
	url = https://github.com/edieguez/yas.git
[submodule "plugins/ytdl-prefetch"]
	path = plugins/ytdl-prefetch
	url = https://github.com/edieguez/ytdl-prefetch.git
[submodule "plugins/mpv-selectformat"]
	path = plugins/mpv-selectformat
	url = https://github.com/demurky/mpv-selectformat.git
[submodule "plugins/thumbfast"]
	path = plugins/thumbfast
	url = https://github.com/po5/thumbfast.git
[submodule "plugins/picture-in-picture"]
	path = plugins/picture-in-picture
	url = https://github.com/edieguez/picture-in-picture.git
[submodule "plugins/mpv-remote"]
	path = plugins/mpv-remote
	url = https://github.com/edieguez/mpv-remote.git
[submodule "plugins/podcast-mode"]
	path = plugins/podcast-mode
	url = https://github.com/edieguez/podcast-mode.git
[submodule "plugins/mark-watched"]
	path = plugins/mark-watched
	url = https://github.com/edieguez/mark-watched.git
